@use "../helpers" as *;

$displays: (
  "none": none,
  "block": block,
  "inline": inline,
  "inline-block": inline-block,
  "flex": flex,
  "inline-flex": inline-flex,
  "grid": grid,
  "inline-grid": inline-grid,
);

@each $name, $value in $displays {
  .d-#{$name} {
    display: $value !important;
  }
}

@each $breakpoint, $width in $breakpoints {
  @include respond-to($breakpoint) {
    @each $name, $value in $displays {
      .d-#{$breakpoint}-#{$name} {
        display: $value !important;
      }
    }
  }
}
