@use "../helpers" as *;

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  input[type="checkbox"] {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid var(--phx-action);
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    position: relative;
    background-color: var(--phx-surface);
    box-sizing: border-box;
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 35%;
      top: 15%;
      width: 30%;
      height: 60%;
      border: solid var(--phx-action-text);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:checked {
      background-color: var(--phx-action);
      border-color: var(--phx-action);

      &::after {
        display: block;
      }
    }

    &:focus {
      border-color: var(--phx-action);
    }

    &:disabled {
      background-color: var(--phx-disabled-surface);
      border-color: var(--phx-disabled-border);
      cursor: not-allowed;
    }
  }

  &--error {
    input[type="checkbox"] {
      border-color: var(--phx-danger);
      border-style: dashed;

      &:checked {
        background-color: var(--phx-danger);
        border-color: var(--phx-danger);
      }

      &:focus {
        border-color: var(--phx-danger);
      }
    }
  }

  label {
    color: var(--phx-text);
    font-family: var(--font-family-base);
  }
}
