@use "../helpers" as *;

.phx-footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: var(--spacer);
  text-align: center;
  font-size: var(--font-size-sm);

  a {
    color: var(--primary-on-dark);
    text-decoration: underline;

    &:hover {
      color: var(--light-color);
    }
  }
}
