@use "../helpers" as *;

.phx-footer {
  background-color: var(--phx-nav-surface);
  color: var(--phx-nav-text);
  padding: var(--spacer);
  text-align: center;
  font-size: var(--font-size-sm);

  a {
    color: var(--phx-nav-accent);
    text-decoration: underline;

    &:hover {
      color: var(--phx-nav-text);
    }
  }
}
