@use "../helpers" as *;

.main-content {
  margin-left: 0;
  padding: var(--spacer);

  @include respond-to("lg") {
    margin-left: 250px;
  }

  @include respond-to("sm") {
    margin-left: 200px;
  }

  @include respond-to("md") {
    margin-left: 250px;
  }
}
