.phx-sidebar {
  background-color: var(--phx-surface);
  border-right: 1px solid var(--phx-border);
  padding: var(--spacer);
  width: 100%;
  min-height: 0;
  position: relative;
  overflow-y: auto;

  .phx-sidebar__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: var(--font-family-heading);
    color: var(--phx-action);
  }

  .phx-sidebar__nav {
    .nav__link {
      display: block;
      margin-bottom: 0.75rem;
      color: var(--phx-text);
      font-size: var(--font-size-base);
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: var(--phx-action);
      }

      &.active {
        color: var(--phx-action);
        font-weight: 700;
      }
    }
  }

  &--active {
    display: block;
  }
}
